    body{
        font-family: "Inter", sans-serif;
        padding: 20px;
        background:white;
        text-align:center;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        list-style:none;
        padding:0;
    }
    li{
        padding:18px;
        border-radius:18px;
        background:white;
        flex: 1 1 0;
        min-width:200px;
        transition: .3s;
        margin: 20px;
    }
 

    img{
        max-width:100%;
    }
    li:hover{
        transform: scale(1.1);
    }

    form {
        margin: 10px auto;
      max-width:250px;
      display:grid;
    }
    input{
        font-family: 'Inter', sans-serif;
        border:1px black solid;
        border-radius: 5px;
        background: white;
        padding: 5px;
    }
    label{
        margin: 10px auto;
    }